<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bitcoin Converter</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body style="text-align:center;">
	<br>
	<div class= "container" style="width: 100%;">
		<p><img th:src="@{/images/bcc.png}" style="max-width:100%;" /><p>
	    <h2>Conversion rates at: </h2><h2 th:text="${timeUpdated}" style="text-align:center"></h2><br>
	    <form class="form-inline" method="post">
	    	<input type="text" name="unit" placeholder="1" style="margin: 0.25em;" value ="1" class="form-control-lg rounded-5"></input>
	    	<button type="submit" class="btn btn-primary btn-lg">Convert</button>
	    </form>
	    <table class="table table-striped" style="outline: 1px solid grey; margin: 5px; font-size: 24px;">
	    	<thead class="thead-dark">
		        <tr>    
		            <th>Bitcoin</th>
		            <th>Currency</th>
		            <th>Rate</th>
		        </tr>
	        </thead>
	        <tbody>
		        <tr th:each = "currencyType : ${currencyTypes}">
		            <td th:text="${currencyType.unit}"></td>
		            <td th:text="${currencyType.name}"></td>
		            <td th:text="${currencyType.convertedValue}"></td>
	        	</tr>
	        </tbody>
	    </table>
	    <br>
	</div>
    
</body>
</html>